name: Build and Release

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  packages: read

jobs:
  release:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable
        shell: bash
      - name: Set Up Node.js
        uses: useblacksmith/setup-node@v5
        with:
          node-version: "24.x"
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Install Dependencies
        uses: FigurePOS/github-actions/.github/actions/install-dependencies@v1

      - name: Check NPM version
        run: npm --version

      - name: Build library
        run: yarn build

      - name: Release
        run: yarn exec ./scripts/release.sh
