name: Build and Release

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: read

jobs:
  release:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Node.js
        uses: FigurePOS/github-actions/.github/actions/setup-node@v1
        with:
          version: "24.x"

      - name: Install Dependencies
        uses: FigurePOS/github-actions/.github/actions/install-dependencies@v1

      - name: Build library
        run: yarn build

      - name: Set NPM Token
        shell: bash
        run: |
          npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}

      - name: Release
        run: yarn release
